body {
  font-family: Helvetica;
  margin: 10px auto;
}

.add-button {
  border-radius: 50%;
  font-weight: bold;
}

.spacing{
  margin: 50px 0;
}

.task-bar{
  width: 75%;
}

#tasks{
  width: 100%;
}

.col-5{
  padding-right: 30px;
}

.box{
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.red, .yellow, .green{
  margin-top: 5px;
}

.custom-shadow {
  box-shadow: 4px 4px 5px gray;
}

button, #button{
  transition: box-shadow 1s;
}

button:hover, #button:hover{
  box-shadow: 0 4px 5px gray;
}

@media only screen and (max-width: 600px) {
  
}