body {
  font-family: Helvetica;
  margin: 10px;
}

.add-button {
  border-radius: 50%;
  font-weight: bold;
}

.spacing{
  margin: 50px 0;
}

.task-bar{
  width: 80%;
}

#tasks{
  width: 100%;
}

.box{
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.custom-shadow {
  box-shadow: 4px 4px 5px gray;
}

button, #button{
  transition: box-shadow 1s;
}

button:hover, #button:hover{
  box-shadow: 0 4px 5px gray;
}

.task-buttons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.task-buttons button {
  width: 110px;
}

@media screen and (max-width: 600px) {
  .task-buttons {
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
  }
  
  .task-buttons .btn {
    width: 300px;
  }
}